             /*variables*/
$color1:black;
$color2:white;
$color3:blue;
$color4:gray;
@use "mix" as bb;

             /*reset vallores*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

           /*estilos del body*/
body {
    background:linear-gradient(to bottom,  #888787 50%,#01194b 50%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
    }
.tit{
    text-align: center;
    font-size: 3em;
    color:$color1 ;
    padding: 30px;
}
.saludo{
    text-align: center;
    font-size: 2em;
    color: rgb(41, 41, 75);
    padding: 10px;
}

    /*este es el estilo del boton index*/
.boton{
    display: flex;
    justify-content: center;
    gap: 3em;
            

    .tamñ{
      width: auto;
      font-size: 4em;
      background-color: $color4;
      color: white;
      border-radius: 20px;
      padding: 10px;
}
}
/*Logo empresa*/
.logo{
    @include bb.flex(center, row, 5px);
     .logoo{
        width: 70%;
        height: 150px;
     }
    
    
}
/*pagina de ingreso*/

.ingreso{
    @include bb.flex(center, row, 5px);
    font-size: 5em;
    height: 2em;

    
}
.colorBodyIngreso{
    background:linear-gradient(  #0a0a11 ,#0a027a );
    background-repeat: no-repeat;
    height: 50vw;
    color: $color4;
}
.saludoEntrada{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: rgb(189, 192, 226);
}
/*pagina empleados*/

/*ordenador de los formularios
formulario1*/

.flex{
    @include bb.flex(space-evenly, row, 5px);
    align-items: center;
}
.cajaDelBoton{
    @include bb.flex(center, column, 5px);
}
#formulario{
     @include bb.flex(center, column, 5px);
     gap: 10px;
     width: 100%;
    
}
#formulario2{
     @include bb.flex(center, column, 5px);
     gap: 10px;
     width: 100%;
    
}

@media (max-width: 768px) {
    .ingreso{
       height: none;
       font-size: 2em;
        
    }
}